[submodule "wordPad_front"]
	path = wordPad_front
	url = https://github.com/Ryokuman/wordPad_front.git
[submodule "wordPad_back"]
	path = wordPad_back
	url = https://github.com/Ryokuman/wordPad_back.git
